<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 该 BeanPostProcessor 将自动起作用，对标注 @Autowired 的 Bean 进行自动注入 -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <!-- 读取jdbc.properties文件 -->
    <context:property-placeholder location="classpath:env.properties,classpath:config.properties"/>

    <bean id="dataSource" class="com.qgutech.km.utils.KMBasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- 连接池启动时的初始值 -->
        <property name="initialSize" value="2"/>
        <!-- 连接池的最大值 -->
        <property name="maxActive" value="10"/>
    </bean>

    <!-- 配置会话工厂 -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="entityInterceptor">
            <bean class="com.qgutech.km.base.interceptor.BaseModelInterceptor"/>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.qgutech.km.**.model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    ${hibernate.dialect}
                </prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>-->
                <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
                <prop key="hibernate.current_session_context_class">
                    org.springframework.orm.hibernate4.SpringSessionContext
                </prop>
                <!-- 启动查询缓存：false -->
                <prop key="hibernate.cache.use_query_cache">${hibernate.use_query_cache}</prop>
                <!-- 使用二级缓存：false -->
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.use_second_level_cache}</prop>
                <!--hibernate3的配置-->
                <!-- 二级缓存插件：org.hibernate.cache.EhCacheProvider 二级缓存类型 -->
                <!--<prop key="hibernate.cache.provider_class">
                    org.hibernate.cache.EhCacheProvider
                </prop>-->
                <prop key="hibernate.cache.region.factory_class">
                    org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory
                </prop>
            </props>
        </property>
        <property name="namingStrategy">
            <bean class="org.hibernate.cfg.ImprovedNamingStrategy"/>
        </property>
        <!--<property name="eventListeners">
            <map>
                <entry key="merge">
                    <bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener" />
                </entry>
            </map>
        </property>-->
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Enable Annotated Spring beans:@Component @Service @Repository @Controller etc -->
    <context:annotation-config/>

    <context:component-scan base-package="com.qgutech.km.**.service">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--配置spring事务管理器，统一管理sessionFactory的事务-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 启用事务注解 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!-- jedis连接池 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${jedis.maxTotal}"/>
        <property name="maxIdle" value="${jedis.maxIdle}"/>
        <property name="maxWaitMillis" value="${jedis.maxWaitMillis}"/>
        <property name="testOnBorrow" value="true"/>
    </bean>


    <bean name="peRedisClient" class="com.qgutech.km.base.redis.PeRedisClient" lazy-init="false">
        <property name="commonJedis">
            <bean class="com.qgutech.km.base.redis.PeRedisFactoryBean">
                <constructor-arg index="0" ref="jedisPoolConfig"/>
                <constructor-arg index="1" value="${jedis.url.common}"/>
                <constructor-arg index="2" value="${jedis.port.common}"/>
            </bean>
        </property>
        <property name="emsJedis">
            <bean class="com.qgutech.km.base.redis.PeRedisFactoryBean">
                <constructor-arg index="0" ref="jedisPoolConfig"/>
                <constructor-arg index="1" value="${jedis.url.ems}"/>
                <constructor-arg index="2" value="${jedis.port.ems}"/>
            </bean>
        </property>
        <property name="sessionJedis">
            <bean class="com.qgutech.km.base.redis.PeRedisFactoryBean">
                <constructor-arg index="0" ref="jedisPoolConfig"/>
                <constructor-arg index="1" value="${jedis.url.session}"/>
                <constructor-arg index="2" value="${jedis.port.session}"/>
            </bean>
        </property>
    </bean>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="50"/>
        <property name="maxPoolSize" value="100"/>
        <property name="queueCapacity" value="2000"/>
    </bean>

    <!--全文搜索管理类-->
    <bean id="kmFullTextSearchManager" class="com.qgutech.km.module.km.service.FullTextSearchManager">
        <property name="analyzerWrapper" ref="analyzerWrapper"/>
        <property name="keywordAnalyzer" ref="keywordAnalyzer"/>
        <property name="indexRootDir" value="${km.index.path}"/>
    </bean>

    <!--分词器包装器-->
    <bean id="analyzerWrapper" class="org.apache.lucene.analysis.miscellaneous.PerFieldAnalyzerWrapper">
        <constructor-arg index="0" ref="contentAnalyzer"/>
        <constructor-arg index="1">
            <map>
                <entry key="tags" value-ref="keywordAnalyzer"/>
                <entry key="content" value-ref="contentAnalyzer"/>
                <entry key="introduction" value-ref="contentAnalyzer"/>
                <entry key="uploaderUserName" value-ref="likeAnalyzer"/>
                <entry key="knowledgeName" value-ref="likeAnalyzer"/>
            </map>
        </constructor-arg>
    </bean>

    <!--内容分词器-->
    <bean id="contentAnalyzer" class="org.apache.lucene.analysis.cn.smart.SmartChineseAnalyzer">
        <constructor-arg type="org.apache.lucene.util.Version" value="LUCENE_46"/>
    </bean>

    <!--像数据库like一样的分词器-->
    <bean id="likeAnalyzer" class="com.qgutech.km.module.km.service.LikeAnalyzer"/>

    <!--搜索关键字的分词器（空白分词器）-->
    <bean id="keywordAnalyzer" class="org.apache.lucene.analysis.core.WhitespaceAnalyzer">
        <constructor-arg type="org.apache.lucene.util.Version" value="LUCENE_46"/>
    </bean>

    <!--抽取文档内容-->
    <bean id="tika" class="org.apache.tika.Tika"/>
</beans>