html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

b, strong {
    font-weight: bolder
}

img {
    border-style: none
}

button {
    outline: 0
}

a {
    background-color: transparent
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

textarea {
    overflow: auto
}

[hidden] {
    display: none
}

li, ul {
    margin: 0;
    padding: 0
}

.y-btn {
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 10px 6px;
    border: none;
    cursor: pointer;
    margin: 0 10px
}

.y-btn__blue {
    background: #0098ff;
    box-shadow: 0 1px 4px 0 #0098ff
}

.y-btn__blue:hover {
    background: #008ff0;
    box-shadow: 0 1px 4px 0 #008ff0
}

.y-btn__green {
    background: #5ace39;
    box-shadow: 0 1px 4px 0 #5ace39
}

.y-btn__green:hover {
    background: #54cb32;
    box-shadow: 0 1px 4px 0 #54cb32
}

.y-btn__orange {
    background: #ebb763;
    box-shadow: 0 1px 4px 0 #ebb763
}

.y-btn__orange:hover {
    background: #e9b155;
    box-shadow: 0 1px 4px 0 #e9b155
}

.y-checkbox {
    font-size: 0;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer
}

.y-checkbox input {
    display: none
}

.y-checkbox input:checked ~ .y-checkbox__span {
    border: 6px solid #0098ff
}

.y-checkbox .y-checkbox__span {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    vertical-align: middle
}

@font-face {
    font-family: yfont-icon;
    src: url(font_700396_kj9aj326zvgyzaor.eot);
    src: url(font_700396_kj9aj326zvgyzaor.eot?#iefix) format('embedded-opentype'), url(font_700396_kj9aj326zvgyzaor.woff) format('woff'), url(font_700396_kj9aj326zvgyzaor.ttf) format('truetype'), url(font_700396_kj9aj326zvgyzaor.svg#iconfont) format('svg')
}

body, html {
    min-width: 1200px;
    height: 100%;
    background-color: #faf9ff
}

.y-body{
    position: relative;
}

.yfont-icon {
    font-family: yfont-icon;
    font-size: 16px
}

.y-head {
    height: 70px;
    background-color: #021034;
    position: absolute;
    width: 100%;
    min-width: 1000px
}

.y-container {
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 100%
}

.y-logo__wrap {
    width: 241px;
    float: left;
    padding-left: 15px;
    padding-top: 14px
}

.y-logo {
    display: inline-block;
    width: 132px;
    height: 42px;
    background-image: url(../img/logo.png);
    background-image: image-set(url('../img/logo.png') 1x, url('../img/logo@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/logo.png') 1x, url('../img/logo@2x.png') 2x)
}

.y-nav {
    /*width: 300px;*/
    margin-left: 256px
}

.y-nav__link {
    font-size: 14px;
    color: #fff;
    list-style: none;
    padding-top: 4px
}

.y-nav__link li {
    display: inline-block;
    list-style: none
}

.y-nav__link li a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    line-height: 1.4
}

.y-nav__link__item {
    padding: 23px 45px 23px 0;
    cursor: pointer;
}
.y-nav__link__item.active .txt {
    position: relative;
    display: inline-block
}

.y-nav__link__item.active .txt:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 3px;
    bottom: -4px;
    left: 0;
    background: #fff;
    border-radius: 2px
}

.y-head__right {
    float: right;
    overflow: hidden;
    width: 350px;
    position: relative;
    padding: 0;
    height: 70px;
}

.y-head__searcher {
    height: 38px;
    background: rgba(255, 255, 255, .06);
    border-radius: 100px;
    position: relative;
    float: left;
    width: 200px;
    margin-top: 16px;
}
@media screen and (min-width: 1399px) {
    .y-head__right{
        width: 500px;
    }
    .y-head__searcher{
        width: 290px;
        margin-left: 50px;
    }
    .y-nav__link__item {
        padding: 23px 60px 23px 0;
    }
}
.y-header-user{
    position: absolute;right: 0;height: 100%;line-height: 70px;padding-right: 20px;
}
.icon-tuichu{
    float: left;
    width: 38px;
    height: 38px;
    text-align: center;
    margin-top: 17px;
    margin-right: 14px;
    background: #111E40;
    border-radius: 50%;
}
.icon-tuichu-pic{
    width: 20px;
    height: 20px;
    margin:0 0 10px 2px;
    opacity: 0.4;
}
.y-header-user-name{
    display: inline-block;color:#fff;width: 70px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
.y-head__searcher label {
    display: block;
    padding-left: 16px;
    padding-right: 40px
}

.y-head__searcher label input {
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    border: none;
    height: 38px;
    width: 100%
}

.y-head__searcher label input::-webkit-input-placeholder {
    color: #fff;
    opacity: .5
}

.y-head__searcher label input:focus {
    outline: 0
}

.y-head__searcher .y-nav__search__btn {
    background-color: transparent;
    color: #fff;
    border: none;
    position: absolute;
    right: 10px;
    top: 0;
    height: 38px;
    font-size: 16px;
    opacity: .5;
    cursor: pointer
}

.y-head__msg {
    cursor: pointer;
    float: left;
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #111e40;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin-left: 55px
}

.y-head__msg .yfont-icon {
    font-size: 24px
}

.y-head__msg .has-msg {
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    right: 0;
    top: 4px;
    background: #5ace39;
    border: 1px solid #fff
}

.y-head__help {
    cursor: pointer;
    float: left;
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    margin-left: 18px;
    text-align: center
}

.y-head__help .yfont-icon {
    font-size: 20px
}

.y-head__user {
    float: left;
    margin-left: 20px;
    margin-top: -1px;
    margin-right: 60px
}

.y-head__avatar {
    background: #fff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
    float: left
}

.y-head__avatar img {
    width: 100%;
    height: 100%
}

.y-head__username {
    font-size: 14px;
    color: #fff;
    margin-left: 12px;
    float: left;
    line-height: 42px;
    max-width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.y-aside {
    position: absolute;
    height: 100%;
    width: 256px;
    background-color: #021034;
    overflow: auto
}

.y-aside__title {
    padding: 15px;
    font-size: 15px;
    color: #fff
}

.y-aside__title .yfont-icon {
    display: inline-block;
    width: 28px
}

.y-aside__menu .y-menu__item {
    border-top: 1px solid rgba(151, 151, 151, .15)
}

.y-aside__menu .y-menu__item:first-child {
    border-top: none
}

.y-aside__menu .y-menu__item.active .y-menu__item__title {
    color: #338bf8
}

.y-aside__menu .y-menu__item.active .y-menu__sub .y-menu__item.active .y-menu__item__title {
    color: #338bf8
}

.y-aside__menu .y-menu__item.active .y-menu__sub .y-menu__item__title {
    color: #fff
}

.y-aside__menu .y-menu__item.my-yun .y-menu__item__title .yfont-icon {
    font-size: 17px
}

.y-aside__menu .y-menu__item.public-yun .y-menu__item__title .yfont-icon {
    font-size: 18px
}

.y-aside__menu .y-menu__item.recycle-yun .y-menu__item__title .yfont-icon {
    font-size: 20px
}

.y-aside__menu .y-menu__item__title {
    font-size: 16px;
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none
}

.y-aside__menu .y-menu__item__title .yfont-icon {
    display: inline-block;
    width: 28px
}

.y-aside__menu .y-menu__item__title.has-arrow {
    position: relative
}

.y-aside__menu .y-menu__item__title.has-arrow:after {
    font-family: yfont-icon;
    font-size: 12px;
    content: '\e64b';
    position: absolute;
    right: 18px;
    top: 19px
}

.y-aside__menu .y-menu__sub {
    margin-bottom: 12px
}

.y-aside__menu .y-menu__sub .y-menu__item {
    border-top: none
}

.y-aside__menu .y-menu__sub .y-menu__item__title {
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    padding: 0 10px 0 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.y-content {
    height: 100%;
    overflow: auto;
    margin-left: 256px;
    position: relative
}

.y-content-body {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow: auto
}

.y-bread-crumbs {
    overflow: hidden;
    padding: 8px 23px;
}

.y-bread-crumbs li {
    float: left;
    font-size: 14px;
}
.y-bread-crumbs .split{
    padding: 0 5px;
    color: #ccc;
}

.y-content__title {
    font-size: 24px;
    color: #2f2d3b;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 20px;
    margin: 0
}

.y-content__opt__bar {
    padding-left: 23px;
    margin-bottom: 12px;
    position: relative;
}

.y-content__opt__bar .y-btn {
    margin-left: 0;
    width: 112px
}

.y-footer {
    font-size: 12px;
    color: #626262;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    margin-top: 14px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0
}

.y-content__table {
    background-color: #fff;
    margin-left: 14px;
    margin-right: 14px;
    padding: 0 20px
}

.y-table {
    margin: 0;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px
}

.y-table thead {
    color: #2f2d3b
}

.y-table thead .sort {
    cursor: pointer
}

.y-table thead .sort:after {
    display: inline-block;
    font-family: yfont-icon;
    content: "\e64c";
    font-size: 12px
}

.y-table thead .sort.asc:after {
    transform: rotate(180deg)
}

.y-table thead th {
    font-weight: 400;
    font-size: 14px;
    text-align: left
}

.y-table tbody tr:hover .y-table__td {
    background-color: #f6faff
}

.y-table tbody tr:hover .y-table__opt__bar {
    display: block
}

.y-table tbody .y-table__td {
    cursor: default;
    border-top: 1px solid #ebf0f4;
    color: #626262
}

.y-table .y-table__td {
    height: 48px;
    padding-left: 10px;
    padding-right: 10px
}

.y-table .y-table__td span {
    vertical-align: middle
}

.y-table .y-table__td.checkbox {
    width: 48px
}

.y-table .y-table__td.size {
    width: 160px
}

.y-table .y-table__td.upload-time {
    width: 160px
}

.y-table__header {
    overflow: hidden
}

.y-table__filed_name {
    padding: 5px 0 5px 30px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 120px
}

.y-table__filed_name.type-file {
    background-image: url(../img/ico_file.png);
    background-image: image-set(url('../img/ico_file.png') 1x, url('../img/ico_file@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_file.png') 1x, url('../img/ico_file@2x.png') 2x)
}

.y-table__filed_name.type-FILE {
    background-image: url(../img/ico_file.png);
    background-image: image-set(url('../img/ico_file.png') 1x, url('../img/ico_file@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_file.png') 1x, url('../img/ico_file@2x.png') 2x)
}

.y-table__filed_name.type-audio {
    background-image: url(../img/ico_mp3.png);
    background-image: image-set(url('../img/ico_mp3.png') 1x, url('../img/ico_mp3@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_mp3.png') 1x, url('../img/ico_mp3@2x.png') 2x)
}

.y-table__filed_name.type-Mp3 {
    background-image: url(../img/ico_mp3.png);
    background-image: image-set(url('../img/ico_mp3.png') 1x, url('../img/ico_mp3@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_mp3.png') 1x, url('../img/ico_mp3@2x.png') 2x)
}

.y-table__filed_name.type-mp3 {
    background-image: url(../img/ico_mp3.png);
    background-image: image-set(url('../img/ico_mp3.png') 1x, url('../img/ico_mp3@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_mp3.png') 1x, url('../img/ico_mp3@2x.png') 2x)
}

.y-table__filed_name.type-video {
    background-image: url(../img/ico_video.png);
    background-image: image-set(url('../img/ico_video.png') 1x, url('../img/ico_video@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_video.png') 1x, url('../img/ico_video@2x.png') 2x)
}

.y-table__filed_name.type-Mp4 {
    background-image: url(../img/ico_video.png);
    background-image: image-set(url('../img/ico_video.png') 1x, url('../img/ico_video@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_video.png') 1x, url('../img/ico_video@2x.png') 2x)
}

.y-table__filed_name.type-mp4 {
    background-image: url(../img/ico_video.png);
    background-image: image-set(url('../img/ico_video.png') 1x, url('../img/ico_video@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_video.png') 1x, url('../img/ico_video@2x.png') 2x)
}

.y-table__filed_name.type-word {
    background-image: url(../img/ico_docx.png);
    background-image: image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x)
}

.y-table__filed_name.type-doc {
    background-image: url(../img/ico_docx.png);
    background-image: image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x)
}

.y-table__filed_name.type-DOC {
    background-image: url(../img/ico_docx.png);
    background-image: image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x)
}

.y-table__filed_name.type-docx {
    background-image: url(../img/ico_docx.png);
    background-image: image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x)
}

.y-table__filed_name.type-pptx {
    background-image: url(../img/ico_pptx.png);
    background-image: image-set(url('../img/ico_pptx.png') 1x, url('../img/ico_pptx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_pptx.png') 1x, url('../img/ico_pptx@2x.png') 2x)
}

.y-table__filed_name.type-ppt {
    background-image: url(../img/ico_pptx.png);
    background-image: image-set(url('../img/ico_pptx.png') 1x, url('../img/ico_pptx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_pptx.png') 1x, url('../img/ico_pptx@2x.png') 2x)
}

.y-table__filed_name.type-excel {
    background-image: url(../img/ico_xlsx.png);
    background-image: image-set(url('../img/ico_xlsx.png') 1x, url('../img/ico_xlsx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_xlsx.png') 1x, url('../img/ico_xlsx@2x.png') 2x)
}

.y-table__filed_name.type-xls {
    background-image: url(../img/ico_xlsx.png);
    background-image: image-set(url('../img/ico_xlsx.png') 1x, url('../img/ico_xlsx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_xlsx.png') 1x, url('../img/ico_xlsx@2x.png') 2x)
}

.y-table__filed_name.type-xlsx {
    background-image: url(../img/ico_xlsx.png);
    background-image: image-set(url('../img/ico_xlsx.png') 1x, url('../img/ico_xlsx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_xlsx.png') 1x, url('../img/ico_xlsx@2x.png') 2x)
}

.y-table__filed_name.type-zip {
    background-image: url(../img/ico_rar.png);
    background-image: image-set(url('../img/ico_rar.png') 1x, url('../img/ico_rar@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_rar.png') 1x, url('../img/ico_rar@2x.png') 2x)
}

.y-table__filed_name.type-rar {
    background-image: url(../img/ico_rar.png);
    background-image: image-set(url('../img/ico_rar.png') 1x, url('../img/ico_rar@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_rar.png') 1x, url('../img/ico_rar@2x.png') 2x)
}

.y-table__filed_name.type-7z {
    background-image: url(../img/ico_rar.png);
    background-image: image-set(url('../img/ico_rar.png') 1x, url('../img/ico_rar@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_rar.png') 1x, url('../img/ico_rar@2x.png') 2x)
}

.y-table__filed_name.type-png {
    background-image: url(../img/ico_png.png);
    background-image: image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x)
}

.y-table__filed_name.type-Png {
    background-image: url(../img/ico_png.png);
    background-image: image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x)
}

.y-table__filed_name.type-jpg {
    background-image: url(../img/ico_png.png);
    background-image: image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x)
}

.y-table__filed_name.type-jpeg {
    background-image: url(../img/ico_png.png);
    background-image: image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x)
}

.y-table__filed_name.type-bmp {
    background-image: url(../img/ico_png.png);
    background-image: image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x)
}

.y-table__filed_name.type-Jpg {
    background-image: url(../img/ico_png.png);
    background-image: image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x)
}

.y-table__filed_name.type-gif {
    background-image: url(../img/ico_png.png);
    background-image: image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x)
}

.y-table__filed_name.type-Gif {
    background-image: url(../img/ico_png.png);
    background-image: image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_png.png') 1x, url('../img/ico_png@2x.png') 2x)
}

.y-table__filed_name.type-txt {
    background-image: url(../img/txt.png);
    background-image: image-set(url('../img/txt.png') 1x, url('../img/txt@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/txt.png') 1x, url('../img/txt@2x.png') 2x)
}

.y-table__filed_name.type-pdf {
    background-image: url(../img/ico_pdf.png);
    background-image: image-set(url('../img/ico_pdf.png') 1x, url('../img/icon_pdf@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_pdf.png') 1x, url('../img/icon_pdf@2x.png') 2x)
}

.y-table__filed_name.type-PDF {
    background-image: url(../img/ico_pdf.png);
    background-image: image-set(url('../img/ico_pdf.png') 1x, url('../img/icon_pdf@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_pdf.png') 1x, url('../img/icon_pdf@2x.png') 2x)
}

.y-table__filed_name.type-exe {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-wmv {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-flv {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-rmvb {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-mkv {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-mov {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-avi {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-m4v {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-asf {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-ape {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__filed_name.type-tif {
    background-image: url(../img/icon_other.png);
    background-image: image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/icon_other.png') 1x, url('../img/icon_other@2x.png') 2x)
}

.y-table__opt__bar {
    display: none;
    float: right
}

.y-table__opt__bar .opt-item {
    background: 0 0;
    border: none;
    color: #757575;
    padding: 4px 8px;
    cursor: pointer
}

.y-table__opt__bar .opt-item:hover {
    color: #333
}

.table__none {
    text-align: center;
    height: 50px;
    line-height: 50px;
}


/*数据统计*/
.s-data-statistics {
    box-sizing: border-box;
    position: absolute;
    height: auto;
    right: 0;
    left: 0;
    width: 100%;
    min-width: 1000px;
    background: #021034;
    overflow-x: scroll;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../img/ico_setting.png);
    background-image: image-set(url('../img/ico_setting.png') 1x, url('../img/ico_setting@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_setting.png') 1x, url('../img/ico_setting@2x.png') 2x)
}

.s-data-statistics-content {
    width: 1100px;
    margin: 0 auto;
    padding: 0 160px;
}

.s-data-statistics-header {
    padding-top: 66px;
    text-align: center;
}

.s-data-file-total {
    /*background-image: linear-gradient(-180deg, #2BC4DE 0%, #4B94DE 81%);*/
    /*box-shadow: 0 1px 4px 0 #31BDDE;*/
    /*border-radius: 8px;*/
    width: 460px;
    height: 156px;
    margin-right: 180px;
    float: left;
    position: relative;
    background-image: url(../img/ico_upload.png);
    background-image: image-set(url('../img/ico_upload.png') 1x, url('../img/ico_upload@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_upload.png') 1x, url('../img/ico_upload@2x.png') 2x)
}

.s-data-upload-file-total {
    /*background-image: linear-gradient(-180deg, #DB4448 0%, #F17353 100%);*/
    /*box-shadow: 0 1px 4px 0 #9867BB;*/
    /*border-radius: 8px;*/
    width: 460px;
    height: 156px;
    float: left;
    position: relative;
    margin-bottom: 100px;
    background-image: url(../img/ico_download.png);
    background-image: image-set(url('../img/ico_download.png') 1x, url('../img/ico_download@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_download.png') 1x, url('../img/ico_download@2x.png') 2x)
}

.s-data-show {
    position: absolute;
    top: 30px;
    left: 47px;
    text-align: left;
}

.s-data-file-info {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.22px;
}

.s-data-account {
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 0.39px;
    margin-top: 12px;
}

.s-file-upload {
    position: absolute;
    top: 30px;
    left: 47px;
    text-align: left;
}

.s-echarts {
    clear: both;
    margin-bottom: 74px;
}
.s-echarts-up{
    height: 403px;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(../img/ico_map.png);
    background-image: image-set(url(../img/ico_map.png) 1x, url(../img/ico_map@2x.png) 2x);
    background-image: -webkit-image-set(url(../img/ico_map.png) 1x, url(../img/ico_map@2x.png) 2x);
}

.s-echarts-central {
    float: left;
}
.s-central-bar{

}
.s-file-upload-info {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.22px;
}

.s-file-upload-account {
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 0.39px;
    margin-top: 12px;
}

.s-echarts-central-info {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.22px;
}

.s-echarts-special {
    float: left;
}

.s-echarts-special-info {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.22px;
}

.s-echarts-down {
    clear: both;
    height: 420px;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../img/ico_map.png);
    background-image: image-set(url('../img/ico_map.png') 1x, url('../img/ico_map@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_map.png') 1x, url('../img/ico_map@2x.png') 2x)
}

.s-echarts-person {
    float: left;
}

.s-echarts-point {
    float: left;
    padding-left: 227px;
}

.s-echarts-person-info {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.22px;
}

.s-echarts-point-info {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.22px;
}

.s-person-picture {
    width: 470px;
    height: 420px;
    opacity: 0.67;
    background: #252840;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 159px;
}

.s-echarts-point-pie {
    margin-top: 30px;
    height: 420px;
    width: 400px;
}

.s-person-picture ul {
    padding: 48px 0 0 30px;
}

.s-person-picture ul li {
    padding-bottom: 30px;
    position: relative;
}

.s-person-img {
    width: 44px;
    height: 44px;
    vertical-align: middle;
    padding-left: 40px;
}

.s-person-name {
    vertical-align: middle;
    font-size: 16px;
    color: #66698D;
    padding-left: 30px;
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.s-person-number {
    vertical-align: middle;
    font-size: 18px;
    color: #66698D;
    display: inline-block;
    width: 125px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.s-person-icon_first {
    width: 24px;
    height: 26.3px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../img/ico_first.png);
    background-image: image-set(url('../img/ico_first.png') 1x, url('../img/ico_first@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_first.png') 1x, url('../img/ico_first@2x.png') 2x)
}
.s-person-icon_second{
    width: 24px;
    height: 26.3px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../img/ico_second.png);
    background-image: image-set(url('../img/ico_second.png') 1x, url('../img/ico_second@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_second.png') 1x, url('../img/ico_second@2x.png') 2x)
}
.s-person-icon_third{
    width: 24px;
    height: 26.3px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../img/ico_third.png);
    background-image: image-set(url('../img/ico_third.png') 1x, url('../img/ico_third@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_third.png') 1x, url('../img/ico_third@2x.png') 2x)
}
.s-person-order-number {
    font-size: 20px;
    color: #66698D;
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
    width: 24px;
}

/*进度条*/
.s-special-info {
    font-size: 14px;
    color: #D9D9D9;
    letter-spacing: 0;
    text-align: right;
    width: 86px;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.s-echarts-special {
    margin-left: 227px;
}

.s-echarts-special ul {
    margin-top: 54px;
}

.s-echarts-special ul li {
    margin-top: 35.7px;
}

.s-progress {
    width: 275px;
    height: 8px;
    border-radius: 8px;
    background: #252840;
    position: relative;
    display: inline-block;
    vertical-align: super;
}

.s-progress-inline {
    height: 8px;
    border-radius: 8px;
    /*background-color: #108ee9;*/
    animation: animate-positive 2s;
}

.s-progress-value {
    /*border: 1px solid #108ee9;*/
    width: auto;
    height: 20px;
    border-radius: 4px;
    color: #ffffff;
    position: absolute;
    left: 65%;
    transform: translateX(-35%);
    background-color: #108ee9;
    text-align: center;
    line-height: 20px;
    padding: 0 3px;
    bottom: 20px;
    white-space: nowrap;
}

/*.s-progress-value::after {*/
/*content: "";*/
/*border-top: 10px solid #108ee9;*/
/*border-left: 10px solid transparent;*/
/*border-right: 10px solid transparent;*/
/*position: absolute;*/
/*left: 50%;*/
/*top: 50%;*/
/*transform: translate(-50%, 50%);*/
/*}*/
.s-progress-value-icon{
    content: "";
    border-top: 10px solid #108ee9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

/* 动画 */
@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@keyframes animate-positive{
    0% { width: 0; }
}
.s-data-statistics-background_icon{
    position: absolute;
    left: 0;
    bottom: 53px;
    width: 191px;
    height: 382px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(../img/ico_setting2.png);
    background-image: image-set(url('../img/ico_setting2.png') 1x, url('../img/ico_setting2@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_setting2.png') 1x, url('../img/ico_setting2@2x.png') 2x)
}
.s-data-statistics-background_icon2{
    position: absolute;
    right: 0;
    bottom: 611px;
    width: 191px;
    height: 382px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../img/ico_setting.png);
    background-image: image-set(url('../img/ico_setting.png') 1x, url('../img/ico_setting@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_setting.png') 1x, url('../img/ico_setting@2x.png') 2x)
}

/*重点项目*/
.y-major-project{
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}
.y-major-project-header{
    font-size: 24px;
    color: #2F2D3B;
    padding:  20px 0 0 23px;
}
.y-major-project-content{
    padding: 36px 14px 0 14px;
    overflow: hidden;
}
.y-project-content-up{
    overflow: hidden;
}
.y-project-desc{
    height: 382px;
    background: #FFFFFF;
}
.y-project-info{
    font-size: 16px;
    color: #2F2D3B;
    position: relative;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #EBF0F4;
    line-height: 50px;
}
.y-project-img{
    float: left;
    width: 110px;
    height: 150px;
}
.y-project-introduction{
    padding: 22px 0 0 20px;
}
.y-project-introduction-content{
    padding-left: 124px;
}
.y-project-content-title{
    font-size: 17px;
    color: #333333;
}
.y-project-content-author{
    font-size: 14px;
    color: #626262;
    padding-top: 12px;
}
.y-introduction-content{
    font-size: 14px;
    color: #626262;
    padding: 10px 14px 0 0;
    line-height: 20px;
    height: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.y-introduction-content::after{*/
    /*content: "...";*/
    /*display: inline;*/
/*}*/
.y-project-select-all{
    padding: 14px 0 42px 0;
    font-size: 14px;
    color: #0098FF;
}
.y-project-contribution-list{
    width: 430px;
    height: 382px;
    margin-left: 14px;
    float: right;
    background: #FFFFFF;
}
.y-contribution-info{
    font-size: 16px;
    color: #2F2D3B;
    box-sizing: border-box;
    position: relative;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #EBF0F4;
}
.y-contribution{
    width: 100%;
}
.y-contribution ul {
    padding: 10px 20px;
}

.y-contribution ul li {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}
.y-contribution-icon_first{
    width: 20px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-image: url(../img/ico_1.png);
    background-image: image-set(url('../img/ico_1.png') 1x, url('../img/ico_1@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_1.png') 1x, url('../img/ico_1@2x.png') 2x);
}
.y-contribution-icon_second{
    width: 20px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-image: url(../img/ico_2.png);
    background-image: image-set(url('../img/ico_2.png') 1x, url('../img/ico_2@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_2.png') 1x, url('../img/ico_2@2x.png') 2x);
}
.y-contribution-icon_third{
    width: 20px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-image: url(../img/ico_3.png);
    background-image: image-set(url('../img/ico_3.png') 1x, url('../img/ico_3@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_3.png') 1x, url('../img/ico_3@2x.png') 2x);
}
.y-contribution-icon_forth{
    width: 20px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-image: url(../img/ico_4.png);
    background-image: image-set(url('../img/ico_4.png') 1x, url('../img/ico_4@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_4.png') 1x, url('../img/ico_4@2x.png') 2x);
    background-position: center;
}
.y-contribution-icon_fifth{
    width: 20px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-image: url(../img/ico_5.png);
    background-image: image-set(url('../img/ico_5.png') 1x, url('../img/ico_5@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_5.png') 1x, url('../img/ico_5@2x.png') 2x);
    background-position: center;
}
.y-contribution-img{
    display: inline-block;
    padding-left: 40px;
}
.y-contribution-person-img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.y-contribution-name{
    font-size: 14px;
    color: #2F2D3B;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 14px;
    width: 100px;
}
.y-contribution-position{
    font-size: 14px;
    color: #2F2D3B;
    line-height: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 100px;
}
.y-contribution-person-number{
    font-size: 14px;
    color: #2F2D3B;
    line-height: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 80px;
    text-align: right;
}
.y-project-content-down{
    padding-top: 14px;
    overflow: hidden;
    clear: both;
}
.y-project-file{
    height: 382px;
    background: #FFFFFF;
    overflow: hidden;
}
.y-project-file-inline{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #EBF0F4;
}

.y-project-file-info{
    display: inline-block;
    padding-left: 20px;
    font-size: 16px;
    color: #2F2D3B;
    line-height: 50px;
}
.y-project-file-more{
    display: inline-block;
    right: 20px;
    position: absolute;
    font-size: 14px;
    color: #5C5C5C;
    line-height: 50px;
}
.y-project-file-list ul{
    padding: 14px 0 0 21px;
}
.y-project-file-list ul li{
    position: relative;
    padding-bottom: 18px;
}
.y-project-file-list ul li img{
    width: 20px;
    height: 23px;
    vertical-align: middle;
}
.y-file-info{
    overflow: hidden;
    margin-right: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.y-file-desc{
    float: right;
}
.y-project-file-name{
    font-size: 14px;
    color: #626262;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 23px;
    width: 100%;
}
.y-project-file-author-name{
    font-size: 14px;
    color: #626262;
    line-height: 23px;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
.y-project-file-time{
    font-size: 14px;
    color: #626262;
    line-height: 23px;
    width: 80px;
    padding-right: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
.y-project-activity{
    float: right;
    width: 430px;
    height: 382px;
    margin-left: 14px;
    background: #FFFFFF;
}
.y-project-activity-info{
    font-size: 16px;
    color: #2F2D3B;
    display: inline-block;
    padding-left: 20px;
    line-height: 50px;
}
.y-project-activity-more{
    display: inline-block;
    right: 20px;
    position: absolute;
    font-size: 14px;
    color: #5C5C5C;
    line-height: 50px;
}
.y-project-activity-list ul{
    padding: 14px 0 0 21px;
}
.y-project-activity-list ul li{
    position: relative;
    padding-bottom: 14px;
}
.y-project-activity-name{
    font-size: 14px;
    color: #5C5C5C;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 150px;
    box-sizing: border-box;
}
.y-project-activity-time{
    font-size: 14px;
    color: #5C5C5C;
    float: right;
    padding-right: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*分享样式*/
.y-share-project-content .y-content__opt__bar{
    margin-bottom: 16px;
}

.y-share-project-content{
    width: 100%;
}
.y-share-project-type{
    background-color: #fff;
    margin: 0 14px 18px;
    padding: 20px 14px 0 14px;
}
.y-share-project-type-list{
    font-size: 14px;
    color: #2F2D3B;
    margin-right: 44px;
    padding-bottom: 20px;
}
.y-share-project-type-item,.y-share-project-type-item-first{
    display: inline-block;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
    margin-left: 36px;
    cursor: pointer;
}
.y-active{
    color: #FFFFFF;
    background: #0098FF;
    border-radius: 100px;
}
.y-share-project-type-list dt,.y-share-project-type-list dd{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    vertical-align: top;
}
.y-share-bar{
    display: inline-block;
}
.y-content__share__list{
    display: none;
}
.y-share-bar:hover .y-content__share__list{
    display: inline-block;
    position: absolute;
    top: 36px;
    z-index: 2;
    padding-top: 14px;
}
.y-share-bar .arrow-top{
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 11px;
    background-image: url(../img/ico_arrow_top.png);
    background-image: image-set(url('../img/ico_arrow_top.png') 1x, url('../img/ico_arrow_top@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_arrow_top.png') 1x, url('../img/ico_arrow_top@2x.png') 2x);
    top: 3px;
    left: 50%;
    margin-left: -14px;
}
.js-share-list li{
    font-size: 14px;
    color: #2F2D3B;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.js-share-list{
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 2px;
    padding: 0 6px;
}
.js-share-local{
    border-bottom: 1px solid #EBF0F4;
    background-repeat: no-repeat;
    background-position: 12px center;
    padding: 0 12px 0 40px;
    background-image: url(../img/ico_share.png);
    background-image: image-set(url('../img/ico_share.png') 1x, url('../img/ico_share@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_share.png') 1x, url('../img/ico_share@2x.png') 2x);
}
.js-share-y{
    background-repeat: no-repeat;
    background-position: 12px center;
    padding: 0 12px 0 40px;
    background-image: url(../img/ico_cloudshare.png);
    background-image: image-set(url('../img/ico_cloudshare.png') 1x, url('../img/ico_cloudshare@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_cloudshare.png') 1x, url('../img/ico_cloudshare@2x.png') 2x);
}
/*专业分类*/
.y-content__opt__bar .webuploader-container .webuploader-pick {
    background-color: transparent
}
.y-content-professional{
    padding: 16px 14px;
    width: 100%;
    box-sizing: border-box;
}
.y-content-professional-file-box{
    width: 100%;
    height: 382px;
    box-sizing: border-box;
    position: relative;

}
.y-content-professional-file{
    height: 100%;
    box-sizing: border-box;
    margin-right:444px
}
.y-content-professional-file-list{
    padding:0 20px;
}

.y-content-professional-file-list-item{
    padding: 9px 0;
}
.y-content-professional-file-list-item::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.y-content-professional-file-list-item-title,.y-content-professional-file-list-item-name,.y-content-professional-file-list-item-time{
    font-size: 14px;
    color: #626262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 23px;
}
.y-content-professional-file-list-item-name{
    float: left;
}
.y-content-professional-file-list-item-title{
    padding-right: 20px;
    box-sizing: border-box;
}
.y-content-professional-file-list-item-name{
    width:80px;
    box-sizing: border-box;
}
.y-content-professional-file-list-item-time{
    float: right;
    width: 80px;
    text-align: right;
}
.y-content-professional-file-list-item-icon{
    display: inline-block;
    width: 20px;
    height: 23px;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/ico_docx.png');
    background-image: image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_docx.png') 1x, url('../img/ico_docx@2x.png') 2x)
}


.y-content-professional-rank{
    position: absolute;
    width:430px;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    right: 0;
}
.y-content-professional-rank-list{
    padding:10px 20px;
}
.y-content-professional-rank-list-item{
    padding: 10px 0;
}
.y-content-professional-rank-list-item::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.y-content-professional-rank-list-item-rank,.y-content-professional-rank-list-item-name,.y-content-professional-rank-list-item-department,.y-content-professional-rank-list-item-grade{
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    height: 40px;
}
.y-content-professional-rank-list-item-rank{
    position: relative;
    margin-right: 45px;
}
.y-content-professional-rank-list-item:nth-child(1) .y-content-professional-rank-list-item-rank-pic{
    display: inline-block;
    width: 20px;
    height: 35px;
    margin-top: 2.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/ico_1.png');
    background-image: image-set(url('../img/ico_1.png') 1x, url('../img/ico_1@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_1.png') 1x, url('../img/ico_1@2x.png') 2x)
}
.y-content-professional-rank-list-item:nth-child(2) .y-content-professional-rank-list-item-rank-pic{
    display: inline-block;
    width: 20px;
    height: 35px;
    margin-top: 2.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/ico_2.png');
    background-image: image-set(url('../img/ico_2.png') 1x, url('../img/ico_2@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_2.png') 1x, url('../img/ico_2@2x.png') 2x)
}
.y-content-professional-rank-list-item:nth-child(3) .y-content-professional-rank-list-item-rank-pic{
    display: inline-block;
    width: 20px;
    height: 35px;
    margin-top: 2.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/ico_3.png');
    background-image: image-set(url('../img/ico_3.png') 1x, url('../img/ico_3@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_3.png') 1x, url('../img/ico_3@2x.png') 2x)
}
.y-content-professional-rank-list-item:nth-child(4) .y-content-professional-rank-list-item-rank-pic{
    display: inline-block;
    width: 20px;
    height: 35px;
    margin-top: 2.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/ico_4.png');
    background-image: image-set(url('../img/ico_4.png') 1x, url('../img/ico_4@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_4.png') 1x, url('../img/ico_4@2x.png') 2x)
}
.y-content-professional-rank-list-item:nth-child(5) .y-content-professional-rank-list-item-rank-pic{
    display: inline-block;
    width: 20px;
    height: 35px;
    margin-top: 2.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/ico_5.png');
    background-image: image-set(url('../img/ico_5.png') 1x, url('../img/ico_5@2x.png') 2x);
    background-image: -webkit-image-set(url('../img/ico_5.png') 1x, url('../img/ico_5@2x.png') 2x)
}
.y-content-professional-rank-list-item-name{
    position: relative;
    padding-left: 54px;
    width: 140px;
    box-sizing: border-box;
}
.y-content-professional-rank-list-item-name-avatar{
    position: absolute;
    top:0;
    left:0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/default_user.png');
}
.y-content-professional-rank-list-item-department{
    width: 100px;
    text-align: center;
}
.y-content-professional-rank-list-item-grade{
    width: 80px;
    float: right;
    text-align: right;
}

.y-content-professional-wrap{
    width: 100%;
    height: 50px;
    padding:0 20px;
    border-bottom: 1px solid #EBF0F4;
    box-sizing: border-box;
}
.y-content-professional-title{
    float: left;
    font-size: 16px;
    color: #2F2D3B;
}
.y-content-professional-more{
    float: right;
    font-size: 14px;
    color: #5C5C5C;
    cursor: pointer;
}
.y-content-professional-more,.y-content-professional-title{
    height: 100%;line-height: 50px
}
.y-content-professional-dynamic{
    width: 100%;
    box-sizing: border-box;
}
.y-content-professional-dynamic-list{
    padding:14px 20px;
}
.y-content-professional-dynamic-list::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.y-content-professional-dynamic-list-item{
    padding-bottom: 20px;
}
.y-content-professional-dynamic-list-item-doc{
    float: left;
    color: #5C5C5C;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.y-content-professional-dynamic-list-item-time{
    float: right;
    color: #5C5C5C;
    width: 20%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}
.y-content-professional-file-list-item-title-info{
    float: right;
    width: 200px;
}
.y-user-tree{
    position: relative;
    border-left: 1px dashed #fff;
    padding: 0;
    margin:35px 0 15px 29px;
}
.y-menu-item-title{
    position: relative;
    padding: 15px 0 15px 26px;
    color:#fff;
    font-size: 14px;
    cursor: pointer;
}
.y-menu-item-title::before{
    content: "";
    width: 20px;
    border-bottom:1px dashed #fff;
    display: block;
    height: 0;
    position: absolute;
    top:50%;
    margin-top: -1px;
    left: 0;
}
.y-menu-item-title:last-child{
    position: absolute;
}
.y-content-professional-dynamic-list-item::after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}

.major-project-tree{

}
.major-project-tree li{
    margin: 20px 0 0 20px;
    position: relative;
}
.major-project-tree li span{
    font-size: 14px;
    color: #FFFFFF;
}
.icon-exclusive-category-icon:before{
    display: none;
}
.major-project-tree li::before{
    content: "";
    width: 15px;
    border-bottom:2px dashed #fff;
    display: block;
    height: 0;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: -5px;
}
.major-project-tree li::after{
    content: "";
    width: 1px;
    border-left: 2px dashed #fff;
    display: block;
    height: 40px;
    position: absolute;
    left: -10px;
    top: -100%;
}
.major-project-tree li .node_name {

}
.major-project-tree li a {
    margin: 0;
    cursor: pointer;
    height: 17px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
}
.major-project-tree .zTree-input-node-hover-bg{
    border: 0 solid #FFFFFF;
    background: none !important;
}
.y-menu-item-title-active{
    color: #338BF8;
}
.major-project-tree li .zTree-node.curSelectedNode .node_name {
    color: #6c9bd3;
}
.p-project-introduction{
    margin: 40px 20px 0 20px;
    position: relative;
}
.p-project-introduction-name{
    font-size: 24px;
    color: #2F2D3B;
    text-align: center;
    margin: 20px 0;
}
.p-project-introduction-author{
    font-size: 14px;
    color: #626262;
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
}
.p-project-introduction-content{
    font-size: 14px;
    color: #626262;
    line-height: 20px;
    clear: both;
    text-indent:2em;
}
/*分享中的部门树样式*/
#deptTree{
    width: 600px;
    position: relative;
    overflow: hidden;
    overflow-y: visible;
    height: 300px;
}