
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_5eayxvmdjzwipb9.eot?t=1482890298844'); /* IE9*/
  src: url('//at.alicdn.com/t/font_5eayxvmdjzwipb9.eot?t=1482890298844#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_5eayxvmdjzwipb9.woff?t=1482890298844') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_5eayxvmdjzwipb9.ttf?t=1482890298844') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_5eayxvmdjzwipb9.svg?t=1482890298844#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before { content: "\e64a"; }

.icon-bread-arrow:before { content: "\e618"; }

.icon-set:before { content: "\e61c"; }

.icon-mute-audio:before { content: "\e62e"; }

.icon-shu01:before { content: "\e61a"; }

.icon-start-fullscreen:before { content: "\e648"; }

.icon-point-copy01:before { content: "\e61b"; }

.icon-tree-close:before { content: "\e619"; }

.icon-right01:before { content: "\e600"; }

.icon-btn-arrow-down:before { content: "\e601"; }

.icon-antikushaixuanleibietubiao01:before { content: "\e602"; }

.icon-bianji02:before { content: "\e603"; }

.icon-huidaomoye01:before { content: "\e604"; }

.icon-huidaoshouye01:before { content: "\e605"; }

.icon-role-user:before { content: "\e606"; }

.icon-qiyong01:before { content: "\e607"; }

.icon-shanchu01:before { content: "\e608"; }

.icon-shangxiatubiao01:before { content: "\e609"; }

.icon-page-pre:before { content: "\e60a"; }

.icon-page:before { content: "\e60b"; }

.icon-search-magnifier:before { content: "\e60c"; }

.icon-tingyong01:before { content: "\e60d"; }

.icon-exit:before { content: "\e60e"; }

.icon-page-next:before { content: "\e60f"; }

.icon-hide-category:before { content: "\e610"; }

.icon-checkbox01:before { content: "\e611"; }

.icon-edit:before { content: "\e612"; }

.icon-start:before { content: "\e613"; }

.icon-delete:before { content: "\e614"; }

.icon-stop:before { content: "\e615"; }

.icon-morenpaixu01:before { content: "\e616"; }

.icon-checkboxweixuanshi:before { content: "\e617"; }

.icon-bitianxiang01:before { content: "\e621"; }

.icon-class-tree:before { content: "\e622"; }

.icon-date:before { content: "\e623"; }

.icon-shouqi01:before { content: "\e624"; }

.icon-start-difficulty:before { content: "\e625"; }

.icon-zhankai01:before { content: "\e626"; }

.icon-fanyemeiyexianshijiyedexiaotubiao01:before { content: "\e627"; }

.icon-pe-accredit:before { content: "\e628"; }

.icon-tikuzhuanyouleibietubiao01:before { content: "\e629"; }

.icon-sousuohouqingkongneirong01:before { content: "\e62b"; }

.icon-shangyi01:before { content: "\e62c"; }

.icon-xiayi01:before { content: "\e62d"; }

.icon-xinzeng01:before { content: "\e61d"; }

.icon-wanchengguanli01:before { content: "\e62f"; }

.icon-pageUp:before { content: "\e61e"; }

.icon-pageDown:before { content: "\e61f"; }

.icon-security:before { content: "\e620"; }

.icon-step-circle:before { content: "\e62a"; }

.icon-top-secret-paper:before { content: "\e630"; }

.icon-normal-paper:before { content: "\e631"; }

.icon-shangyiye:before { content: "\e632"; }

.icon-xiayiye:before { content: "\e633"; }

.icon-solid-circle-chekced:before { content: "\e634"; }

.icon-preview:before { content: "\e635"; }

.icon-zhishixingjiantou1:before { content: "\e636"; }

.icon-zhishixingjiantou2:before { content: "\e637"; }

.icon-zhishixingjiantou3:before { content: "\e638"; }

.icon-zhishixingjiantou4:before { content: "\e639"; }

.icon-inputDele:before { content: "\e63a"; }

.icon-pe-video:before { content: "\e63b"; }

.icon-fenduanbiaoji:before { content: "\e63c"; }

.icon-pe-audio:before { content: "\e63d"; }

.icon-show-analysis:before { content: "\e63e"; }

.icon-hide-analysis:before { content: "\e63f"; }

.icon-caution-tip:before { content: "\e640"; }

.icon-unchecked-radio:before { content: "\e641"; }

.icon-checked-radio:before { content: "\e642"; }

.icon-dialog-close-btn:before { content: "\e643"; }

.icon-unchecked-checkbox:before { content: "\e644"; }

.icon-checked-checkbox:before { content: "\e645"; }

.icon-insert-blank:before { content: "\e646"; }

.icon-download:before { content: "\e647"; }

.icon-tip:before { content: "\e6f4"; }

.icon-anbumengangweishaixuanxiala:before { content: "\e725"; }

.icon-member:before { content: "\e727"; }

.icon-freeze:before { content: "\e728"; }

.icon-activate:before { content: "\e729"; }

.icon-shangchuantouxiang:before { content: "\e72a"; }

.icon-authority:before { content: "\e72b"; }

.icon-yichu:before { content: "\e72d"; }

.icon-show-category:before { content: "\e72c"; }

.icon-btn-arrow-up:before { content: "\e72e"; }

.icon-go-top:before { content: "\e72f"; }

.icon-shexiangtou:before { content: "\e730"; }

.icon-shitibiaoji:before { content: "\e731"; }

.icon-shenfenzheng:before { content: "\e732"; }

.icon-gerenzhongxin:before { content: "\e733"; }

.icon-wodekaoshi:before { content: "\e734"; }

.icon-zhenshixingming:before { content: "\e735"; }

.icon-eye-open:before { content: "\e736"; }

.icon-eye-close:before { content: "\e737"; }

.icon-zuijindongtai:before { content: "\e738"; }

.icon-message-center:before { content: "\e739"; }

.icon-my-examination:before { content: "\e73a"; }

.icon-gerenzhongxin_xiugaimima:before { content: "\e73b"; }

.icon-wodekaoshi_dajuanfenxi:before { content: "\e73c"; }

.icon-refresh:before { content: "\e73d"; }

.icon-chakan:before { content: "\e742"; }

.icon-add-by-user:before { content: "\e743"; }

.icon-import-batch:before { content: "\e744"; }

.icon-set-more-batch:before { content: "\e745"; }

.icon-exam-organize:before { content: "\e746"; }

.icon-jiankong:before { content: "\e747"; }

.icon-zuofei:before { content: "\e748"; }

.icon-fuzhi:before { content: "\e749"; }

.icon-kemu:before { content: "\e74a"; }

.icon-pici:before { content: "\e74b"; }

.icon-xiazai:before { content: "\e74c"; }

.icon-jiancekaoshihuanjing:before { content: "\e74d"; }

.icon-shitiweibiaoji:before { content: "\e74e"; }

.icon-kaoshihuanjingzhengchang:before { content: "\e74f"; }

.icon-jiancejieguo_wangluohuanjing:before { content: "\e750"; }

.icon-zhuguantipingfen:before { content: "\e751"; }

.icon-jiancejieguo_yangshengqi:before { content: "\e752"; }

.icon-jiancejieguo_liulanqi:before { content: "\e753"; }

.icon-shenfenyanzhengtongguo:before { content: "\e754"; }

.icon-xueyuanduankaoshishijian:before { content: "\e740"; }

.icon-xianshang:before { content: "\e741"; }

.icon-xianxia:before { content: "\e755"; }

.icon-zonghe:before { content: "\e756"; }

.icon-xueyuanduankaoshitongguobiaoqian:before { content: "\e757"; }

.icon-not-pass:before { content: "\e758"; }

.icon-biaojiyidu:before { content: "\e759"; }

.icon-thin-arrow-down:before { content: "\e75a"; }

.icon-thin-arrow-up:before { content: "\e75b"; }

.icon-top-secret-back:before { content: "\e75c"; }

.icon-juemibiaoqian1:before { content: "\e75d"; }

.icon-quesheng:before { content: "\e75e"; }

.icon-datiduiti:before { content: "\e75f"; }

.icon-daticuoti1:before { content: "\e761"; }

.icon-dengluyonghu:before { content: "\e760"; }

.icon-denglumima:before { content: "\e762"; }

.icon-chakanxiangqing:before { content: "\e763"; }

.icon-jinrupingjuan:before { content: "\e764"; }

.icon-xueyuanduankaoshidatishoujiicon:before { content: "\e765"; }

.icon-gengduodongtai:before { content: "\e766"; }

.icon-jinrikaoshi:before { content: "\e767"; }

.icon-cancel-fullscreen:before { content: "\e649"; }

.icon-shitiweibiaoji-copy:before { content: "\e768"; }

.icon-text-sign-copy:before { content: "\e769"; }

.icon-gengduo:before { content: "\e76a"; }

.icon-fuping:before { content: "\e76b"; }

.icon-xiugaichengji:before { content: "\e76c"; }

.icon-chengjifenbutongji:before { content: "\e76d"; }

.icon-message:before { content: "\e76e"; }

.icon-weijibiaoji:before { content: "\e76f"; }

.icon-much-inf:before { content: "\e770"; }

.icon-set-list-display:before { content: "\e771"; }

.icon-remove:before { content: "\e772"; }

.icon-view-detail:before { content: "\e773"; }

.icon-handling-discipline:before { content: "\e774"; }

.icon-renovate:before { content: "\e775"; }

.icon-forced-assignment:before { content: "\e776"; }

.icon-radar-display:before { content: "\e777"; }

.icon-picture-icon:before { content: "\e778"; }

.icon-makeup:before { content: "\e779"; }

.icon-according-to-the-role-of-view:before { content: "\e77a"; }

.icon-according-to-the-researchers-to-see:before { content: "\e77b"; }

