
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1511831856223'); /* IE9*/
  src: url('../font/iconfont.eot?t=1511831856223#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1511831856223'),
  url('../font/iconfont.ttf?t=1511831856223') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1511831856223#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-copy-copy-copy:before { content: "\e603"; }

.icon-ico_:before { content: "\e707"; }

.icon-ico_2:before { content: "\e70a"; }

.icon-ico_arrow_left:before { content: "\e70b"; }

.icon-cloud:before { content: "\e643"; }

.icon-reward:before { content: "\e644"; }

.icon-ico_shipinbiaotishang1:before { content: "\e645"; }

.icon-upload:before { content: "\e646"; }

.icon-scale:before { content: "\e647"; }

.icon-list:before { content: "\e648"; }

.icon-collection_pre:before { content: "\e649"; }

.icon-colleagues:before { content: "\e64a"; }

.icon-arrow:before { content: "\e64b"; }

.icon-arraw_down:before { content: "\e64c"; }

.icon-help:before { content: "\e64d"; }

.icon-download:before { content: "\e64f"; }

.icon-menu:before { content: "\e650"; }

.icon-company:before { content: "\e651"; }

.icon-more:before { content: "\e652"; }

.icon-collection:before { content: "\e653"; }

.icon-msg:before { content: "\e654"; }

.icon-refresh:before { content: "\e655"; }

.icon-public:before { content: "\e656"; }

.icon-pause:before { content: "\e657"; }

.icon-search:before { content: "\e658"; }

.icon-voice-download:before { content: "\e659"; }

.icon-personal:before { content: "\e65a"; }

.icon-voice:before { content: "\e65b"; }

.icon-del:before { content: "\e65c"; }

.icon-setting:before { content: "\e65d"; }

.icon-ico_1:before { content: "\e714"; }

.icon-ico_3:before { content: "\e715"; }

.icon-jian:before { content: "\e72a"; }

.icon-tuichu:before { content: "\e72b"; }

.icon-yemian:before { content: "\e72c"; }

.icon-zhuanye:before { content: "\e72d"; }

.icon-xiangmu:before { content: "\e72e"; }

.icon-cloud-copy:before { content: "\e72f"; }

