@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: inherit;
    font-size: 14px;
    font-family: 'Hiragino Sans GB','Microsoft YaHei',Arial,Helvetica,sans-serif,"\5b8b\4f53";
    outline: none;
}
html{
    height:100%;
}
body {
    color: #666;
    font-size: 12px;
    background: #f4f6f9;
    font-family: 'Hiragino Sans GB','Microsoft YaHei',Arial,Helvetica,sans-serif,"\5b8b\4f53";
}

h1, h2, h3, h4, h5, h6 {
    color: #666;
    font-weight: bold;
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei',Arial,Helvetica,sans-serif,"\5b8b\4f53";
}

a {
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei',Arial,Helvetica,sans-serif,"\5b8b\4f53";
    color: #6d9ed9;
    text-decoration: none;
}

button {
    outline: none;
}
/*pe btn*/
.pe-btn {
    font-size: 14px;
    outline: none;
    background: #fff;
    border: none;
    line-height: 1.4;
    padding: 6px 22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 14px;
    font-family: 'Hiragino Sans GB','Microsoft YaHei',Arial,Helvetica,sans-serif,"\5b8b\4f53";
}
.pe-btn:disabled{
    cursor:default;
}
.pe-btn.pe-btn-block {
    width: 104%;
}
.pe-leave-temporary{
 float:right;
}

.go-top-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 616px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    padding: 0;
}

/*深蓝色的按钮*/
.pe-btn.pe-btn-blue {
    background-color: #199ae2;
    color: #fff;
}

.pe-btn.pe-btn-blue:hover {
    background-color: #24a4ec;
}

.pe-btn.pe-btn-blue:active {
    background-color: #128fd4;
}

/*浅蓝色按钮,类似表格头部的那个按钮*/
.pe-btn.pe-btn-primary {
    background-color: #88b3e4;
    color: #fff;
    margin-right: 14px;
}

.pe-btn.pe-btn-primary:hover {
    background-color: #99c0ec;
}

.pe-btn.pe-btn-primary:active {
    background-color: #78a5d7;
}

.pe-btn.pe-btn-primary-light {
    background-color: #e1eaf7;
    color: #aaa;
    margin-right: 14px;
}

.pe-btn.pe-btn-primary-light:hover {
    background-color: #e1eaf7;
}

.pe-btn.pe-btn-primary-light:active {
    background-color: #e1eaf7;
}

/*类似上一步，取消之类的按钮颜色*/
.pe-btn.pe-btn-purple {
    background-color: #e0e9f6;
    color: #777;
}

.pe-btn.pe-btn-purple:hover {
    color: #199ae2;
}

.pe-btn.pe-btn-purple:active {
    background-color: #128fd4;
    color: #fff;
}

/*绿色按钮*/
.pe-btn.pe-btn-green {
    background-color: #5bc83d;
    color: #fff;
}

.pe-btn.pe-btn-green:hover {
    background-color: #62d641;
}

.pe-btn.pe-btn-green:active {
    background-color: #4dba2f;
}

.pe-btn.pe-btn-white {
    border: 1px solid #cfd9e5;
    color: #666;
    background: #fff;
    padding: 5px 21px 5px;
    margin-right: 14px;
}

.pe-btn.pe-btn-white:hover {
    color: #199ae2;
    border-color: #199ae2;
}

.pe-btn.pe-btn-white:active {
    background-color: #199ae2;
    border-color: #199ae2;
    color: #fff;
}

.pe-btn-white:hover .icon-btn-arrow-down {
    color: #199ae2;
}

.pe-btn-white:active .icon-btn-arrow-down {
    color: #fff;
}

input.radio {
    margin: 0 2px 0 8px;
}
input.radio.first {
    margin-left: 0;
}

input.empty {
    color: lightgray;
}

code {
    color: #2f332a;
}

.highlight_red {
    color: #A60000;
}

.highlight_green {
    color: #A7F43D;
}

.old select {
    display: none !important;
}

li {
    list-style: none;
    font-size: 12px;
}

.blue-shadow{
    box-shadow: 4px 4px 10px #eaf1f7;
    box-shadow: 2px 4px 6px #e0e0e0,-2px -2px 6px #e0e0e0;
    -webkit-box-shadow: 2px 4px 6px #e0e0e0,-2px -2px 6px #e0e0e0;
    -ms-box-shadow: 2px 4px 6px,-2px -2px 6px #e0e0e0;
    -moz-box-shadow: 2px 4px 6px #e0e0e0,-2px -2px 6px #e0e0e0;
}
.pe-public-top-nav-header {
    font-size: 16px;
    min-width: 1200px;
    background: #6d9ed9;
    height: 64px;
    line-height: 64px;
    /*z-index: 9999;*/
    padding:0 20px;
}
.pe-public-top-nav-header.stu-top-nav-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index:998;
}
.pe-top-nav-container .exam-name{
    width:690px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#fff;
    font-size:24px;
}
.count-down-panel {
    background: none;
    border: none;
    outline: none;
}

.count-down-panel .iconfont {
    color: #666666;
    font-size: 20px;
    vertical-align: middle;
}
.pe-mark-tip{
    float: left;
    color: #999999;
    padding-right: 10px;
}
.pe-qes-content .insert-blank-item{
    text-align:center;
    font-size:16px;
}
input[type='checkbox']:checked+label div,
input[type='checkbox']:checked+label span{
    color:rgb(91,200,60)!important;
}
input[type='radio']:checked+label div,
input[type='radio']:checked+label span{
    color:rgb(91,200,60)!important;
}

.marking-container-wrap .pe-answer-right-content-top{
    border-bottom-width:1px;
    height:20px;
}
.pe-answer-right-content-top input{
    display:none;
}
.pe-answer-right-content-top input+label:before{
    padding:1px;
}
.paper-item-detail-stem > p{
    font-size:16px;
}
a.pe-answer-right-num{
    border-bottom:1px solid #cbcbcb;
    margin-right:12px;
}
.pe-answer-progress-panel{
    overflow: hidden;
    padding-bottom: 0;
    width: 280px;
    height: 16px;
    line-height: 1;
}
.pe-container-main.marking-container-wrap{
    margin-bottom:0;
}
.marking-container-wrap .pe-answer-progress-panel{
    height:12px;
}
.exam-answer-top-header .progress-text{
    height: 22px;
    line-height: 22px;
    text-align: left;
    margin-top: 12px;
    padding-left: 0;
}
.marking-container-wrap .pe-last-submit-btn{
    padding: 8px 35px;
}

.marking-container-wrap .pe-answer-content-right-wrap{
    padding-left:0;
}
.pe-container-main {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 70px;
}
.pe-answer-progress-wrap{
    width: 180px;
    height: 4px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    /*background-color: #b6cfec;*/
    border: 1px solid #b6cfec;
    margin-top: 4px;
    margin-left: 0;
}
.pe-top-nav-container, .pe-detail-top-head {
    width: 1200px;
    height: 100%;
    line-height: 64px;
    margin: 0 auto;
    color: #fff;
}
.pe-answer-progress{
    position: absolute;
    top:0;left:0;
    background-color:#fff;
    height:4px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}
.complete-info{
    color: #fff;
    font-size: 14px;
    /*vertical-align: middle;*/
    padding-left: 5px;
    float: right;
    margin-right: 40px;
    height: 20px;
    line-height: 20px;
    margin-top: -3px;
}
.pe-answer-content-text textarea{
    width:790px;
    border-color: #e0e0e0;
    background: #fafafa;
}

.stu-content-left  .all-images-wrap{
    width:700px;
    margin-left:7px;
}

.pe-answer-content-right-wrap{
    position: fixed;
    top: 82px;
    left: 1043px;
    padding-left: 14px;
    width: 286px;
    z-index: 1989;
}

.pe-complete-right{
    margin-top:0;
}
.pe-making-template-wrap.hide{
    min-height:0!important;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.pe-title-btn {
    padding: 45px 0 40px 50px;
}
.marking-container-wrap .pe-container-main{
    margin-bottom:0;
}
/*摄像头位置*/
.answer-video-cla{
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: bottom;
    margin-left:14px;
}
.answer-video-cla.un-ready-camera{
    margin-left:0;
    background:#b3b3b3;
    z-index:19895111;
    text-align:center;
}
.video-cam-mask{
    position: absolute;
    width: 82px;
    height: 82px;
    left: -33px;
    top: -23px;
    border-radius: 50%;
    border: 40px solid #fff;
    z-index:1989;
}
#webcam.pos object{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.image-small-icon-wrap .iconfont.icon-picture-icon{
    min-height:18px;
    height:auto;
    line-height:1.4;
    color:#666;
}
.image-small-icon-wrap .iconfont.icon-picture-icon{
    min-height:18px;
    height:auto;
    line-height:1.4;
    color:#666;
}
.image-small-icon-wrap  .icon-picture-icon.cur-item-icon{
    color:#5e9be1;
}
.fixed object{
    margin: 0 auto;
    display: block;
    top: 50%;
    position: absolute;
    margin-top: -120px;
    left: 50%;
    margin-left: -120px;
}
.pe-next-btn,
.pe-last-submit-btn,
.pe-complete-btn,
.pe-prev-btn{
    padding: 8px 35px;
}
.over-flow-hide {
    overflow: hidden !important;
    display: block;
}
.pe-flow{
    overflow: hidden !important;
    display: inline-block;
}
.clear {
    clear: both;
}
.cleanF {
    clear: both !important;
}
.clearF:after{
    content:'';
    width:0;
    height:0;
    clear:both;
}
.floatL {
    float: left !important;
}
::-ms-clear, ::-ms-reveal{
    display: none;
}

.floatR {
    float: right !important;
}
.all-item-has-answer{
    width:900px;
    height:500px;
    margin:0 auto;
    background:url('../images/complete_all_has_answer.png') center 100px no-repeat;
    background-size:32%;
    padding-top:450px;
    display:none;
    color:#999;
    font-size:20px;
    text-align:center;
}
.all-item-has-answer-a{
    width:100%;
    height:80px;
    text-align:center;
    display:none;
    margin-top:80px;
    font-size:18px;
    color:#666;
}
.all-item-has-answer-a .iconfont{
    font-size:40px;
    color:#19aa8b;
    margin-bottom:5px;
}
.camera-before-mask,
.exam-loading-mask,
.exam-loading-opacity-mask{
    position: fixed;
    top: 0;
    left: 0;
    background: #b3b3b3;
    z-index: 1987;
}
.exam-loading-mask{
    z-index:1999999;
    background:#fff url('../images/exam_loading_gif.gif') center 26% no-repeat;
    width:100%;
    height:100%;
}
.exam-loading-opacity-mask{
  display:none;
}
@-webkit-keyframes loadingMask{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
@-moz-keyframes loadingMask{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
@-ms-keyframes loadingMask{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
.pe-browser-lower-wrap{
    background:#6d9ed9;
    height:64px;
    line-height:64px;
}
.main-browser-tip-wrap{
    width:700px;
    height:180px;
    padding:60px 50px;
    margin:130px auto;
    background:#fff;
}
.main-browser-tip-wrap .tip-wrap-left{
    width:235px;
    height:180px;
    background:url('../images/browser_lower_tip.png') center center no-repeat;
    background-size:100%;
}
.main-browser-tip-wrap .tip-wrap-right{
    margin-left:260px;
}
.main-browser-tip-wrap .tip-wrap-right > h2{
    font-size:24px;
    color:#444;
    margin:0 0 10px;
    line-height:1.3;
    font-weight:normal;
}
.main-browser-tip-wrap .tip-wrap-right > p{
    font-size:14px;
    color:#999;
    line-height:1.68;
}
.main-browser-tip-wrap .get-new-browser > li{
    width:52px;
    height:52px;
    background:url('../images/chrome_browser_icon.png') center center no-repeat;
    background-size:100%;
    margin-right:40px;
    margin-top:10px;
}
.main-browser-tip-wrap .get-new-browser > li > a{
    display:block;
    width:100%;
    height:100%;
}
.main-browser-tip-wrap .get-new-browser > .firefox-browser{
    background:url('../images/firefox_browser_icon.png') center center no-repeat;
    background-size:100%;
}
.main-browser-tip-wrap .get-new-browser > .ie-browser{
    background:url('../images/ie_browser_icon.png') center center no-repeat;
    background-size:100%;
}
/*弹框样式*/
.pe-box-wrap{
    width: 460px;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    z-index: 19891015;
    top: 40%;
    left: 50%;
    margin-left: -230px;
}
.pe-box-close,.sub-exam-dia-close{
    float: right;
    color: #999999;
    font-size: 20px;
    cursor: pointer;
    margin:5px;
}
.downTime-box-contain .pe-box-close{
    margin:8px;
}
.downTime-panel{
    width: 90px;
    height: 50px;
    border: 1px solid #fca564;
    font-size: 30px;
    text-align: center;
    color: #fc984e;
    line-height: 50px;
    float: right;
}
.pe-box-contain{
    width: 328px;
    margin: 0 auto;
    padding: 25px 0 15px 0;
    font-size:16px;
    color:#444;
}
.pe-box-contain > p{
    font-size:16px;
    color:#444;
}
.pe-box-wrap.downTime-box-contain{
    width:auto;
    border-radius:3px;
    overflow:hidden;
}
.downTime-box-contain .pe-box-contain{
    text-align:center;
    padding: 25px 20px 15px;
}
.downTime-panel-wrap{
    padding: 25px 0 15px 0;
}

.pe-box-title{
    font-size: 16px;
    color: #444444;
    font-weight: normal;
}
.pe-box-des{
    color: #666666;
    font-size: 13px;
    padding-top: 10px;
}
.pe-box-known{
    margin-bottom: 15px;
}
.pe-exam-mask,.pe-exam-sub-mask{
    position: fixed;
    pointer-events: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 19891014;
    background-color: #01080f;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.pe-countdown-wrap{
    background: #fff;
    width: 690px;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    margin-top: 10px;
}
.pe-box-wrap .btns-wrap{
    text-align:right;
}
.pe-countdown-contain{
    width: 565px;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    overflow: hidden;
}
.pe-countdown-left{
    float: left;
}
.pe-countdown-right{
    float: left;
    background: #fff9f4;
    border: 1px solid #fc984e;
    padding: 4px 10px;
    margin-left: 20px;
}
.pe-countdown-time{
    border: none;
    outline: none;
    color: #fc984e;
    background: none;
    font-size: 30px;
}
.pe-box-btn{
    float: right;
    padding-top: 10px;
}
.pe-box-do{
    width: 80px;
    padding: 6px 0;
}
.pe-send-wrap{
    width: 280px;
    background: #fff;
    border-radius: 5px;
    padding: 10px 10px 25px 10px;
    overflow: hidden;
}
.pe-box-send{
    color: #666666;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    padding-top: 15px;
}
/*--end弹框样式*/

.count-down-panel{
    float: right;
    background-color: transparent;
    border: none;
    height: 64px;
    padding: 0 25px;
    margin-left:24px;
    line-height: 64px;
}
.count-down-panel .count-down{
    padding-right: 5px;
    color: #fff;
    font-size: 26px;
    vertical-align: middle;
    display:none;
    height: 64px;
    line-height: 64px;
}
.count-down-panel .show-count-down-text{
    color:#999;
    font-size:14px;
    display:none;
}
.count-down-panel .show-count-down-text.show-count{
    display:inline-block;
}
.count-down-panel .count-down.show-count{
    display:inline-block;
    float:left;
    width:120px;
}
.count-down-panel .iconfont{
    color: #fff;
    height: 64px;
    margin-top: 1px;
    width: 24px;
    font-size: 24px;
    line-height: 64px;
    margin-right: 5px;
}
.count-down-panel .icon-eye-close{
    display: none;
    cursor:pointer;
}
.count-down-panel .icon-eye-open{
    display: inline;
    cursor:pointer;
}
.count-down-panel.close .icon-eye-open{
    display: none;
}
.count-down-panel.close .icon-eye-close{
    display: inline;
}
.count-down-panel.close .count-down{
    display: none;
}

.pe-answer-progress-panel{
    overflow: hidden;
    padding-bottom: 0;
    width: 274px;
    height: 16px;
    line-height: 1;
}
.pe-container-main.marking-container-wrap{
    margin-bottom:0;
}
.marking-container-wrap .pe-answer-progress-panel{
    height:12px;
}
.exam-answer-top-header .progress-text{
    height: 22px;
    line-height: 22px;
    text-align: left;
    margin-top: 12px;
    padding-left: 0;
}
.marking-container-wrap .pe-last-submit-btn{
    padding: 8px 35px;
}

.marking-container-wrap .pe-answer-content-right-wrap{
    padding-left:0;
}
.pe-answer-progress-wrap{
    width: 180px;
    height: 4px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    /*background-color: #b6cfec;*/
    border: 1px solid #b6cfec;
    margin-top: 4px;
    margin-left: 0;
}
.pe-answer-progress{
    position: absolute;
    top:0;left:0;
    background-color:#fff;
    height:4px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.pe-answer-nav-top{
    border-bottom:16px solid #f4f6f9;
    position: fixed;
    top: 64px;
    width: 1178px;
    z-index: 1989;
    border-top: 20px solid #f4f6f9;
    height: 56px;
    padding: 14px 0 0 30px;
    background:#fff;
    margin:0 0 20px 0;
    border-radius:2px;
}
.pe-answer-nav-top.answer-exam-nav-top{
    z-index: 189;
    background: #edf0f4;
    height: 20px;
    margin: 0;
    padding: 0;
    border:none;
}
.pe-answer-nav-top dt,
.pe-answer-nav-top dd{
    line-height:28px;
}

.pe-answer-content-left-wrap {
    background: #fff;
    width: 900px;
    float: left;
    overflow: hidden;
    margin-top:82px;
    box-shadow:2px 4px 6px #e0e0e0,-2px -2px 6px #e0e0e0;
    min-height: 454px;
}
.pe-answer-content-left {
    padding: 20px 0;
}
.pe-paper-preview-content {
    padding-top: 6px;
}
.pe-question-top-head {
     width: 100%;
     padding: 10px 0 8px;
     position: relative;
 }
.pe-question-head-text {
    border-left: 4px solid #199ae2;
    color: #777;
    /*color: #666;*/
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    font-size:16px;
    font-family: 'Microsoft Yahei', Arial, sans-serif;
    padding-left: 6px;
}
.pe-question-more-wrap .pe-question-head-text {
    display: inline-block;
}
.add-paper-question-item-wrap {
    padding: 0 0 20px 0;
    position: relative;
}
.pe-answer-content-item-wrap {
    width: 860px;
    border-bottom: 1px dashed #babfc6;
    margin: 0 auto;
}
.single-text-wrap .pe-answer-content-item-wrap{
    padding-bottom:20px;
}
.paper-add-question-content{
    padding: 20px 0;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
}
.marking-container-wrap .paper-add-question-content,
.pe-paper-preview-bank-wrap .paper-add-question-content,
.for-marking-paper .paper-add-question-content{
    border:none;
}
.for-marking-paper .paper-add-question-content{
    padding:0;
    margin-top:0;
}

.paper-add-question-content .pe-mark-star.iconfont{
    margin-right:20px;
}
.paper-add-question-content .pe-question-item-level{
    top:-1px;
}

.paper-question-stem {
    padding-left: 12px;
    position: relative;
    min-height: 22px;
    line-height: 22px;
    padding-top: 2px;
    font-size: 16px;
    color: #444;
}

.paper-question-stem > p {
    max-width: 786px;
}
.pe-for-step {
    font-size: 16px;
    color: #444444;
}
.paper-item-detail-stem {
    line-height: 1.68;
    margin-left: 0;
    margin-right: 40px;
    padding-top: 0;
    padding-bottom: 0;
    font-size:16px;
}
.paper-item-detail-stem .iconfont {
    color: #a0bfe2;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.paper-item-detail-stem >p,
.paper-item-detail-stem >div{
    font-size:16px;
    line-height:1.68;
}
.paper-question-num{
    max-width:18%;
    color:#444;
    font-size:16px;
    float:left;
    line-height:1.68;
    min-height:20px;
}

.pe-qes-content{
    font-size: 16px;
    color: #444444;
}

.pe-answer-content-select {
    margin-top: 20px;
    overflow:hidden;
}
.pe-answer-content-select li{
    clear:both;
    margin:4px 0;
}
.question-single-item-wrap {
    padding-left: 14px;
}

.question-single-item-wrap:hover {
    background-color: #f8f8f8;
}

.question-single-item-wrap .iconfont {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    width: 18px;
    text-align: center;
}
.pe-question-score {
    color: #444;
    float: left;
    font-size: 16px;
    line-height:1.68;
    min-height:20px;
}

/*单选、多选样式*/
.pe-exam-radio{
    display: block;
    cursor:pointer;
}
input[type='radio']+label:before{
    font-family: 'iconfont';
    content: '\e641';
    font-size: 17px;
    display:block;
    color: #959595;
    height: 33px;
    line-height: 33px;
    float: left;
    padding-left: 2px;
    display: none\9;
    padding-top:1px\9;
    padding-top:0;
}
input[type='checkbox']+label:before{
    font-family: 'iconfont';
    content: '\e644';
    font-size: 17px;
    display: block;
    color: #959595;
    height: 28px;
    line-height: 28px;
    float: left;
    padding-left: 2px;
    display: none\9;
    padding-top:3px;
}
input[type='radio']:checked+label:before{
    content: '\e642';
    color:rgb(91,200,60);
}
input[type='checkbox']:checked+label:before{
    content: '\e645';
    color:rgb(91,200,60);
}
.pe-exam-radio-wrap input[type='radio'],.pe-exam-checkbox-wrap input[type='checkbox']{
    display: none;
    display: block\9;
    padding-top:8px\9;
    float: left\9;
}
.pe-exam-judge-wrap .question-items-choosen-text{
    margin-left: 5px;
}
.pe-online-img {
    float: right;
    padding-right: 6px;
    border-radius:50%;
}
.pe-online-img img{
    width: 83px;
    height: 83px;
    border-radius:50%;
    padding: 2px;
    border: 1px solid #e0e0e0;
}

.pe-answer-right-num.done{
    border: 1px dashed #25bb9b;
    background-color: #25bb9b;
    color:#fff;
    position: relative;
}
.check{
    position: absolute;
    color: #fc984e;
    left: 29px;
    font-size: 12px;
    top: -17px;
}
.pe-leave-temporary.pe-btn{
    padding:7px 26px;
}
.pe-answer-right-num.done:hover{
    background: #169f82;
    border: 1px solid #169f82;
}
.exercise-right-contain .pe-answer-right-num.done:hover{
    border-bottom:none;
}

.pe-ques-detail-type {
    font-size: 16px;
    color: #fc984e;
}
.add-paper-question-item-wrap .pe-wrong-answer{
    max-height: 200px;
    overflow-y: scroll;
}
.hideSingle{
    height:0;
    overflow:hidden;
}
.pe-single-item {
    padding: 0 0 16px;
    min-height: 20px;
    line-height: 1.68;
    font-size:16px;
    font-family: 'Microsoft Yahei', Arial, sans-serif;
}
.pe-single-item img,
.paper-question-stem img,
.pe-wrong-parsing img,
.question-text-wrap img,
.paper-item-detail-stem img,
.question-item-analysis-text img
{
    vertical-align:top;
    cursor: pointer;
}
.marking-qes--content img{
    vertical-align:middle;
}
.paper-question-stem .pe-star-wrap {
    width: 150px;
    margin-left: 40px;
}
.stu-content-left  .pe-star-wrap{
    width:auto;
    margin-left:0;
}
.image-small-icon-wrap{
    display:inline-block;
    vertical-align:middle;
}
.image-small-icon-wrap li{
    display:inline-block;
    margin-right:4px;
    cursor:pointer;
}
.image-small-icon-wrap li:hover{
    color:#199ae2;
}
.question-item-choosen-items .pe-radio {
    min-height: 28px;
    line-height: 28px;
    display: block;
    font-size: 13px;
    color: #666;
}
.image-small-icon-wrap .iconfont.icon-picture-icon{
    min-height:18px;
    height:auto;
    line-height:1.4;
    color:#5e9be1;
}
.image-small-icon-wrap  .icon-picture-icon.cur-item-icon{
    color:#5e9be1;
}
.question-item-letter-order {
    margin-left: 4px;
    vertical-align: top;
    font-size: 16px;
    color: #666666;
    min-height:18px;
    line-height: 1.4;
    float: left;
}

.question-items-choosen-text {
    font-size: 16px !important;
    color: #666666 !important;
    margin-left: 4px;
    min-height:18px;
    line-height:1.4;
    word-break: break-all;
}

.question-item-choosen-items .pe-radio .iconfont ,
.question-item-choosen-items .pe-checkbox .iconfont{
    font-size: 16px;
    width: 18px;
}

.question-item-choosen-items .pe-radio .icon-checked-radio {
    color: #5bc83d;
}

.question-item-choosen-items .pe-radio .icon-checked-radio + span {
    font-weight: bold;
}

.question-text-wrap {
    margin-left: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 1.4;
}

.pe-question-item-answer-area {
    font-size: 16px;
    color: #666;
    background: #f4f6fa;
    /* height: 32px;
     line-height: 32px;*/
    padding: 10px 0 10px 10px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.pe-answer-right-top {
    background: #fff;
    padding: 15px 32px;
}

.pe-answer-right-top-img {
    padding-bottom: 15px;
    cursor: pointer;
}

.pe-answer-right-top-img img {
    display: inline-block;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    padding: 2px;
}

.pe-answer-right-top dt {
    float: left;
    color: #b9c0ca;
}

.pe-answer-right-top dd {
    font-size: 16px;
    color: #444444;
    margin-left: 25px;
    cursor: auto;
}

.pe-answer-right-top dl {
    margin-top: 10px;
    cursor: auto;
    overflow: hidden;
}

.pe-answer-name {
    color: #444444;
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
}

.pe-answer-num {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777 !important;
    font-size: 14px !important;
}

.pe-answer-img {
    margin-left: 24px;
    background: url("../images/pe-ans-nav-sec.png") no-repeat;
    display: inline-block;
    width: 85px;
    height: 85px;
}
.pe-answer-right-content {
    background: #fff;
    margin-top: 20px;
    padding: 15px 0 22px;
}

.pe-answer-right-content-top {
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}

.pe-answer-no {
    float: right;
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin-right:12px;
}
.pe-answer-no .icon-checked-checkbox{
    color:rgb(91,200,60);
}
.add-paper-tip-text .icon-checked-checkbox,
.add-paper-tip-text .icon-unchecked-checkbox,
.add-paper-tip-text .icon-checked-radio,
.add-paper-tip-text .icon-unchecked-radio{
    color:#cbcbcb;
}
.pe-answer-no span.iconfont{
    font-size: 14px;
    line-height: 22px;
}
.pe-answer-right-content-top h2 {
    float: left;
    font-size: 16px;
    color: #444444;
    font-weight: normal;
    margin-left:9px;
}

.pe-answer-right-num {
    border: 1px solid #cbcbcb;
    display: inline-block;
    margin-bottom: 15px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #444444;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    border-bottom: none;
}
.pe-wrong-answer-item  .pe-answer-right-num{
    margin-bottom:0;
    border-bottom:none;
}
.pe-answer-right-num:hover {
    background: #cbcbcb;
    border-color:#cbcbcb;
}

.pe-answer-right-contain {
    padding-top: 12px;
}

.pe-answer-test-num {
    min-height:88px;
    padding-top: 5px;
    /*max-height: 180px;*/
    overflow: auto;
    padding-left:12px;
    box-sizing:content-box;
    font-size:0;
}

.pe-answer-sure-btn {
    color: #fff;
    outline: none;
    border: 1px solid #199ae2;
    background: #199ae2;
    cursor: pointer;
    padding: 20px 0;
    width: 286px;
    font-size: 22px;
    border-radius: 3px;
}

.pe-answer-sure-btn:hover {
    background-color: #24a4ec;
}

.pe-answer-sure-btn:active {
    background-color: #128fd4;
}

.pe-answer-sure {
    text-align: center;
    margin-bottom:18px;
}

.pe-answer-test-num .mCSB_inside>.mCSB_container{
    margin-right:0;
    font-size:0;
    padding-top:4px;
}
.pe-answer-test-num .mCSB_scrollTools{
    right:-2px;
}
.mCSB_dragger .mCSB_dragger_bar{
    background:#cbcbcb!important;
}
.mCSB_draggerContainer .mCSB_draggerRail{
    background:transparent!important;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{
    bottom:26px;
}
.pe-answer-content-right-wrap .pe-answer-sure-btn{
    background:#25bb9b;
    border-color:#25bb9b;
}
.pe-answer-content-right-wrap .pe-answer-sure-btn:hover{
    background:#19aa8b;
    border-color:#19aa8b;
}
.itemImageViewWrap{
    font-size:0;
    padding-right:0!important;
}
.viewer-container.viewer-fixed{
    width:100%!important;
    height:100%!important;
}
.viewer-container.viewer-fixed .viewer-play{
    display:none!important;
}
.image-video,
.image-audio{
    display:inline-block;
    width:20px;
    height:20px;
    font-size:22px;
    vertical-align:middle;
    margin:0 6px;
    color:#199ae2;
    cursor:pointer;
}
.image-audio.audio-playing,
.image-audio.audio-pause{
    width:26px;
    height:26px;
    margin-top:-1px;
}
.audio-playing.pe-music-type-icon{
    background:url('../images/audio_playing.gif') center center no-repeat;
    background-size:120%;
}
.audio-pause.pe-music-type-icon{
    background:url('../images/audio_pause.png') center center no-repeat;
    background-size:120%;
}
.pe-question-item-level {
    position: absolute;
    top: 0;
    right: -8px;
}
.pe-star-wrap {
    width: 238px;
    margin-left: 86px;
    height: 32px;
    line-height: 32px;
}

.pe-star-wrapper {
    width: 35px;
    overflow: hidden;
}

.pe-star-container {
    float: right;
    height: 32px;
    line-height: 32px;
    /*cursor: pointer;*/
}
.pe-star.iconfont {
    font-size: 18px;
    margin-right: 9px;
    color: #e5e5e5;
    float: left;
    height: 32px;
    line-height: 32px;
    cursor:pointer;
}
.pe-star.icon-un-mark-star{
    color: #ffa614;
}

.pe-star.pe-checked-star {
    color: #ffa614;
}

.pe-difficulty-num {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-left: 4px;
    font-size: 13px;
    color: #999;
}

.pe-mask-listen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.all-images-wrap{
    position:relative;
    width:700px;
    height:144px;
    overflow:hidden;
    margin-left:0;
}

/*swiper区域样式*/
.swiper-container {
    height:144px!important;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    direction:ltr;
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    font-size:0;
    width:100%;
    height:142px!important;
    padding:0!important;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 100%;
    /*opacity: 0.4;*/
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom:0;
}
.swiper-slide {
    height: 100%;
    /*opacity: 0.4;*/
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.swiper-slide-visible {
    /*opacity: 0.5;*/
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.swiper-wrapper .image-icon-cur {
    top: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 15px #2d4c64;
}
.pagination {
    display:none;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 8px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-visible-switch {
    background: #aaa;
}
.swiper-active-switch {
    background: #5e9be1;
}
/*swiper结束*/

/*音频和视频播放*/
.music-audio-panel,
.music-audio-panel .vjs-control-bar{
    display:none!important;
}
.video-close-btn{
    position: fixed;
    top: 50%;
    right: -40px;
    left: 50%;
    text-align:center;
    width: 40px;
    height: 28px;
    line-height:28px;
    margin-top: -239px;
    margin-left: 279px;
    cursor: pointer;
    color: #000;
    z-index:9999999999;
    background-color: rgba(255,255,255,.7);
}
.viewer-close.icon-wrong.iconfont{
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background:#fff;
}
.video-close-btn.viewer-close.icon-wrong{
    position:fixed;
    top:20px;
    left:auto;
    right:20px;
    margin:0;
}
.viewer-close.icon-wrong.iconfont:hover{
    background:#f6b37f;
}
.viewer-close.icon-wrong.iconfont:hover:before{
    color: #fff;
}
.viewer-close.icon-wrong:before{
    color: #000;
    font-size: 28px;
    background: none;
    text-align: center;
    position: static;
    margin: 0 auto;
    width: 60px;
    line-height: 60px;
    height: 60px;
}
.pe-answer-video {
    color: #fff;
    font-size: 20px;
}

.viewer-button  .viewer-ripple{
    position:absolute;
    background:rgba(0,0,0,3);
    border-radius:50%;
    width:0;
    height:0;
}
.video-close-btn:hover{
    background:rgba(0,0,0,.7);
    color:#fff;
}
.video-js.vjs-fullscreen ~ .video-close-btn{
    top:1px;
    right:1px;
    left:auto;
    margin:0;
}
.video-mask-panel{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:999999998;
    background:rgba(0,0,0,.3);
}
.pe-video-player-panel{
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-240px;
    margin-left:-320px;
    z-index:999999999;
    background:#000;
}
.insert-blank-item{
    border: none;
    border-bottom: 1px solid #333;
    margin-right: 6px;
    color: #6d9ed9;
    width: 100px;
    border-bottom: 1px solid #333;
    text-align:center;
    font-size:16px;
}
/*考试提交的弹框样式*/
.sub-status-dialog.pe-box-wrap{
    border-radius:2px;
    width:800px;
    height:500px;
    margin-left:-400px;
    top:18%;
    background:url('../images/sub_exam_ing_gif.gif') center center no-repeat;
    background-size:contain;
    overflow:hidden;
}
.sub-status-dialog.sub-fail{
    background:url('../images/sub_exam_dia_bg.jpg') center center no-repeat;
    background-size:contain;
}
.sub-status-dialog .sub-ing-top-bg{
    width:342px;
    height:280px;
    /*background:url('../images/sub_exam_ing_bg.gif') center center no-repeat;*/
    /*background-size:contain;*/
    margin:20px auto 0;
}
.sub-status-dialog.sub-fail .sub-ing-top-bg{
    width:180px;
    height:140px;
    margin:110px auto 0;
    /*background:url('../images/sub_exam_fail.png') center center no-repeat;*/
    background-size:contain;
}
.sub-status-dialog .pe-box-contain{
    width:100%;
}
.sub-status-dialog .sub-ing-text{
    font-size:30px;
    width:100%;
    color:#444;
    margin:14px auto 0;
    text-align:center;
}
.sub-status-dialog .sub-ing-tip{
    font-size:14px;
    color:#666;
    margin:18px auto 0;
    text-align:center;
}
.sub-fail .sub-again-btn{
    display:block;
    background:#25bb9b;
    margin:18px auto 22px;
    font-size:20px;
    width:160px;
    height:50px;
    text-align:center;
    padding:0;
}
.sub-fail .sub-again-btn:hover{
    background:#169f82;
}

.hide-dia {
    display: none !important;
}